
.container{
overflow: scroll;
    background-color: white;
    font-family: sans-serif;
}

.hastinlogo{
    height: 90px;
    width: 250px;
    display: grid;
    place-items: center;
}
.agent p{
    line-height: .6;
}
.cusadd{
    padding: 0px 100px 0px 0px;

}
.total{   
    display: flex;
    width: 100%;
}
td{
    border: none;
}
hr{
    border: 2px solid black;
    width: 100%;
}
li{
    font-size: 15px;
    line-height:1.8;
    font-weight: 200;
    color: black;
}