.container{
    margin-top: 30px; 
    display: grid;
   place-items: center;
}
img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    background: #dfdfdf;
    margin-top: 30px; 

    }
    .profile{
        display: inline-block;
    }