
table{
  font-size: 10px;
width: 100%;
}
.body{
  place-items: center;
}
.fa{
    font-size: 19px;
    margin-top: 10px;
}
li{
  list-style: none;
}
.container-fluid{
  margin-top: 30px;
  height: auto;
  width: auto;
}


@media screen and (min-width: 400px) {
    table{
      font-size: 15px;
      overflow-y: scroll;
    }
    .add{
        margin-top: 18px;
    }
    .fa{
      font-size: 20px;
      margin-top: 10px;
  }
 
  .table-responsive{
    align-items: center;
    justify-content: center;
    overflow: scroll;
  }
  }

  